.wrapper {
    width: 100%;
    padding: 4px 0px;
}

.item {
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    user-select: none;
    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.icon {
    width: 20px;
    height: 20px;
}

.name {
    font-size: 1.6rem;
    line-height: 21px;
}
