.wrapper {
    // --search-width: 500px;
    --search-high: 46px;
    --search-high-spacer: 9px;
    --search-btn-width: 52px;
    --btn-clear-color: #a7a7ab;
    position: fixed;
    z-index: 10;
    width: 1358px;
    height: 60px;
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
    background-color: white;
}
.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 200px;
}
.logo-link {
    display: flex;
    align-items: center;
}
//search
//----

//Action
.action {
    display: flex;
    width: 280px;
    justify-content: end;
    align-items: center;
}

.action-btn {
    width: 32px;
    height: 32px;
    background-color: transparent;
    margin-left: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.badge {
    position: absolute;
    min-width: 20px;
    height: 20px;
    padding: 1px 5px;
    background-color: var(--primary);
    color: white;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1.4rem;
    top: -7px;
    left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-more {
    background-color: transparent;
    padding: 4px;
    margin-left: 12px;
    cursor: pointer;
}
.icon {
    width: 20px;
    height: 20px;
}



.user-avatar {
    margin-left: 24px;
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}
