.wrapper {
    // --search-width: 500px;
    --search-high: 46px;
    --search-high-spacer: 9px;
    --search-btn-width: 52px;
    --btn-clear-color: #a7a7ab;

    width: 1358px;
    height: 60px;
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
}
.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 332px;
}
.search {
    width: 500px;
    height: var(--search-high);
    background-color: var(--search-color);
    border-radius: 92px;
    padding: 0px 0px 0px 16px;
    display: flex;
    align-items: center;
    border: 1px solid var(--search-color);
    position: relative;

    &:focus-within {
        border: 1px solid rgb(205, 208, 211);
    }
    input {
        flex: 1;
        font-size: 1.6rem;
        caret-color: red;
        background-color: transparent;
        color: rgb(83, 82, 82);
    }
    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }
    input:not(:placeholder-shown) ~ .loading {
        display: block;
    }
    input:not(:placeholder-shown) ~ .clear {
        display: block;
    }
    &::after {
        content: '';
        position: absolute;
        background-color: rgba(22, 24, 35, 0.12);
        width: 1px;
        height: calc(var(--search-high) - var(--search-high-spacer) * 2);
        right: var(--search-btn-width);
        top: 50%;
        transform: translateY(-50%);
    }
}

.search-result {
    // display: none;
    width: 500px;
    // transform: translateX(57px);
}
.search-title {
    font-size: 1.6rem;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
    padding: 5px 12px;
}

.news {
    padding: 12px;
    font-size: 16px;
    line-height: 21px;
    font-weight: 600;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }
}
.icon-search-result {
    width: 14px;
    height: 14px;
    margin-right: 6px;
}
.clear,
.loading {
    position: absolute;
    display: none;
    right: var(--search-btn-width);
    width: 40px;
    color: var(--btn-clear-color);
}

.search-btn {
    width: var(--search-btn-width);
    height: 100%;
    border-top-right-radius: 92px;
    border-bottom-right-radius: 92px;
    font-size: 1.8rem;
    color: var(--btn-clear-color);
    cursor: pointer;
    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}

.action {
    display: flex;
}

.action-btn {
    width: 32px;
    height: 32px;
    padding: 3px;
    background-color: transparent;
    margin-right: 12px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-more {
    background-color: transparent;
    padding: 4px;
    margin-left: 12px;
    cursor: pointer;
}
.icon {
    width: 20px;
    height: 20px;
}

.menu {
    width: 223px;
}

.user-avatar {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}
